<!doctype html>
<html>
<head>
    <base href="/taco/" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="taco">
    <div class="container" ng-controller="AlimentosCtrl">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>

                    <input type="text" class="form-control" placeholder="Pesquisar alimento" ng-model="searchFilter">
                </div>      
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th ng-click="sort('categoria')">Categoria</th>
                    <th ng-click="sort('nome')">Descrição</th>
                    <th ng-click="sort('carboidrato')">Carboidrato</th>
                    <th ng-click="sort('fibraAlimentar')">Fibra Alimentar</th>
                    <th ng-click="sort('proteina')">Proteína</th>
                    <th ng-click="sort('lipideos')">Lipídeos</th>
                    <th ng-click="sort('colesterol')">Colesterol</th>
                    <th ng-click="sort('umidade')">Umidade</th>
                    <th ng-click="sort('energia.kcal')">Energia (kcal)</th>
                    <th ng-click="sort('energia.kj')">Energia (kJ)</th>
                    <th ng-click="sort('cinzas')">Cinzas</th>
                    <th ng-click="sort('calcio')">Cálcio</th>
                    <th ng-click="sort('magnesio')">Magnésio</th>
                    <th ng-click="sort('manganes')">Manganês</th>
                    <th ng-click="sort('fosforo')">Fósforo</th>
                    <th ng-click="sort('ferro')">Ferro</th>
                    <th ng-click="sort('sodio')">Sódio</th>
                    <th ng-click="sort('potassio')">Potássio</th>
                    <th ng-click="sort('cobre')">Cobre</th>
                    <th ng-click="sort('zinco')">Zinco</th>
                    <th ng-click="sort('retinol')">Retinol</th>
                    <th ng-click="sort('re')">RE</th>
                    <th ng-click="sort('rae')">RAE </th>
                    <th ng-click="sort('tiamina')">Tiamina</th>
                    <th ng-click="sort('riboflavina')">Riboflavina</th>
                    <th ng-click="sort('piridoxina')">Piridoxina</th>
                    <th ng-click="sort('niacina')">Niacina</th>
                    <th ng-click="sort('vitaminaC')">Vitamina C</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alimento in alimentos | orderBy:sortField:sortReverse | filter:searchFilter">
                    <td>{{ alimento.categoria }}</td>
                    <td>{{ alimento.nome }}</td>
                    <td>{{ alimento.carboidrato }}</td>
                    <td>{{ alimento.fibraAlimentar }}</td>
                    <td>{{ alimento.proteina }}</td>
                    <td>{{ alimento.lipideos }}</td>
                    <td>{{ alimento.umidade }}</td>
                    <td>{{ alimento.energia.kcal }}</td>
                    <td>{{ alimento.energia.kj }}</td>
                    <td>{{ alimento.colesterol }}</td>
                    <td>{{ alimento.cinzas }}</td>
                    <td>{{ alimento.calcio }}</td>
                    <td>{{ alimento.magnesio }}</td>
                    <td>{{ alimento.manganes }}</td>
                    <td>{{ alimento.fosforo }}</td>
                    <td>{{ alimento.ferro }}</td>
                    <td>{{ alimento.sodio }}</td>
                    <td>{{ alimento.potassio }}</td>
                    <td>{{ alimento.cobre }}</td>
                    <td>{{ alimento.zinco }}</td>
                    <td>{{ alimento.retinol }}</td>
                    <td>{{ alimento.re }}</td>
                    <td>{{ alimento.rae }}</td>
                    <td>{{ alimento.tiamina }}</td>
                    <td>{{ alimento.riboflavina }}</td>
                    <td>{{ alimento.piridoxina }}</td>
                    <td>{{ alimento.niacina }}</td>
                    <td>{{ alimento.vitaminaC }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>